# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg



# pyenv
.python-version

# pipenv
.Pipfile.lock

# Environments
.env
.venv
env/
venv/
ENV/

# VSCode files
.vscode/
